/* stylelint-disable prettier/prettier */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng;
    /* stylelint-disable-next-line function-url-quotes */
    src: url(./fonts/stratosskyengweb-regular.woff2);
}

body {
    font-family: StratosSkyeng;
    background: #004980;
}

.game-wrapper {
    padding-left: calc(50vw - 490px);
    padding-right: calc(50vw - 490px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
}

.level-choice-wrapper {
    display: flex;
    justify-content: center;
    padding-top: calc(50vh - 230px);
}

.level-choice-text {
    width: 208px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    padding-top: 52px;
    padding-bottom: 48px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}

.radio-toolbar {
    display: flex;
    gap: 24px;
}

.radio-toolbar label:hover {
    color: #1215ce;
    cursor: pointer;
}

.radio-toolbar input[type='radio'] {
    display: none;
}

.radio-toolbar input[type='radio']:checked + label {
    background: #ffe0a6;
}

.radio-toolbar-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    background: #fff;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
}

.start-button {
    cursor: pointer;
    font-family: StratosSkyeng;
    margin-top: 67px;
    border: none;
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.restart-button {
    cursor: pointer;
    font-family: StratosSkyeng;
    border: none;
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    width: 980px;
}

.timer {
    display: flex;
}

.timer-name {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
}

.timer-counter {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #fff;
}

.point::before {
    content: '.';
}

.card-field {
    display: inline-grid;
    gap: 15px;
    margin-top: 35px;
}

.card {
    width: 95px;
    height: 133px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.card:hover {
    transition: 0.30s;
    transform: scale(1.1);
}

.grid-1 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(6, 1fr);
}

.card-back {
    cursor: pointer;
}

.card-value-up {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    position: absolute;
    top: 2px;
    left: 6px;
}

.card-value-down {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    position: absolute;
    bottom: 2px;
    right: 6px;
    rotate: 180deg;
}

.suit-big {
    position: absolute;
    top: 55px;
    left: 33px;
}

.suit-small-up {
    width: 7px;
    height: 6px;
    position: absolute;
    top: 30px;
    left: 9px;
}

.suit-small-down {
    width: 7px;
    height: 6px;
    position: absolute;
    bottom: 30px;
    right: 9px;
    rotate: 180deg;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    margin-top: calc(50vh - 230px);
    position: fixed;
    z-index: 100;
}

.result-svg {
    padding-top: 30px;
}

.result-text-header {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    padding-top: 5px;
    padding-bottom: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}

.result-text-timer {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    padding-bottom: 10px;
}

.result-text-time {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #000;
    padding-bottom: 40px;
}

.opacity {
    position: fixed;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: #004980;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}
